/*Normalize css file*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*End of normalize*/

/*bases css page*/
.main-header{
	top:0;

}

body{

	background-color: #edefed; 
	top:0;
}
.wrapper{

	max-width: 100%;

	margin: 0 auto;
	
	
}

.container{

	width: 90%;
	margin: 0 auto;


}

.footer{

	bottom: 0px;
}


/*/end bases css page*/


/* ------ video ----- */
.video-container{

	width: 100%;
	height: 500%;
	position: absolute;
	
}
video{

	width: 100%;
	z-index: -1;
	opacity: 0.78;
	position: absolute;

}



/* ------ end video ----- */

.nav-link{

	color:#fff;
	margin-top:1em;
	font-style: arial;
}

.nav-item{

	display: inline;
}

.hote{

	border: 2px solid #fff;
}

.head-title{

	margin-top: -.2em;
	font-size: 2em;
	font-style: arial;
	margin-left:-1rem;
}

.hote:hover{
	background-color: #000;
}

.logo{
	color:#fff;
	margin-top:.9em;
	font-weight: bold;
	width:8%;
	height: 8%;
}

.head-container {

	margin-top: 5em;
	margin-bottom: 1em;
	text-align: center;
	color:#fff;
	font-size: 3em;
	font-weight: bold; 
}
.lead-container{
		text-align: center;
		color:#fff;
		font-size: 1em;
		font-weight: bold;
		

}

.formdiv{

	height: 5.3em;
	max-width: 100%;
	background-color: rgba(0,0,0, .6);
	margin-top: 19em;
	margin-left: 0em;
	margin-bottom: 3em;
}




.cols1{

	height: 232.433px;
	width: 760px;
} 

.cols23{

	height: 320px;
}


h2{

	font-size: 1.7em;
	font-weight:bold;
	font-family:arial, Helvetica, serif;
	margin-top: .7em;
	margin-bottom: .7em;
	text-align: left;
	letter-spacing: 0.5
	line-height: 1.1;
}

.description {
	font-size: 1.7em;
	font-weight:bold;
	font-family:arial, Helvetica, serif;
	margin-top: .7em;
	margin-bottom: .7em;
	text-align: center;
	letter-spacing: 0.5
	line-height: 1.1;


}

p{
	font-size: 1.1em;
	font-family: arial, Helvetica, serif;
	line-height: 1.2;
	margin-bottom: 1em;
	text-align: left;
	letter-spacing: 0.5;
	

}

.paradescription {
	font-size: 1.1em;
	font-family: arial, Helvetica, serif;
	line-height: 1.2;
	margin-bottom: 2em;
	text-align: center;
	letter-spacing: 0.5;

}

.btn-block{

	display: block;
	width: 60%;
	white-space: normal;
	border-color: #007a87;
    border-bottom-color: #004f58;
    background-color: #007a87;
    color: #fff;
    font-family: arial;
}

.btn-block1 {

	display: block;
	width: 30%;
	white-space: normal;
	border-color: #c4c4c4;
    text-align: center;
    color: #484848;
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
    margin-left: 20em;

}


.jumbotron {

	margin-top: 5em;
	margin-bottom: 1em;
	text-align: center;
	color:#fff;
	font-size: 2em;
	font-weight: bold; 
	z-index:100;
}
.inpara{
		text-align: center;
		color:#fff;
		font-size: 1.2em;
		font-weight: bold;
		font-family: arial;
}

.jumbotron{
	margin-top:0em;
	margin-bottom: 1em;
	text-align: center;
	color:#fff;
	font-size: 2em;
	font-weight: bold; 
	z-index:100;

}

.voyage{
	display: flex;
	flex-direction: column;
	flex:1;
	flex-grow: 1;
}


.btn-footer{

	margin-top: 1.5em;
	color: #fff;
	width:160px;
	height: 10%;
	background-color: #2b2d2e;
	text-align: left;
	font-family: arial;
	font-size:1em;
	font-weight: normal;
}

.btn-footer:visited{
	border-color: blue;
}

/* ###### body slider ############# */

.madiv{

	z-index: 50px;
	font-size: 1.5em;
	color: #fff;
	margin-top:-3.5em;
	text-align: center;
	font-weight: normal;
	
}

.matanayo{
	
	font-size: 1.5em;
	color: #fff;
	text-align: center;
}
.mata {

	text-align: center;
	color:#fff;
	font-size: 3em;
	margin-top:-8em;
	font-family: arial;
	margin-bottom: .5em;
}

#lastdiv{

	margin-top: 18em;
}
/* ###### / body slider ############# */

.nsuka {

	color: #000;
	font-size: 1.5em;
	text-align: center;
	font-family: arial;
}

/* ######### footer #########  */

.footer{

	background-color: #2b2d2e;
	margin-top: 55em;
	
	height: 600px;

}

.makolo{
	
	width: 85%;
	margin: 0 auto;

}

.rang-footer h3{

	color: #fff;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom:1em;
	font-size:.9em;
	font-family: arial;
}

.rang-footer li{

	color: #fff;
	line-height: 1.6em;
	font-family: arial;
	font-size: .8em;
}

.liensocial{
	display: inline;
	border-radius: 100%;
	color:#fff;
	
	text-align: center;
	margin-left:2em;
	margin-bottom: 20em;

}

.fa {
	text-align: center;
}

.sosoli {
	margin-top: 3em;
	padding-top: 2em;
	border-top: 1px solid #fff;
	color: #fff;
	text-align: center;
	font-size: 1.4em;
	font-family: arial;
	margin-bottom: 2em;
}

.ozui{

	text-align: center;
}

.ozui li:hover{
	color: blue;
}

.ozui li {
	font-size: 1.2em;
	border: 1px solid #fff;
	padding:.5em;

}

.nasima{

	z-index: 20px;
	margin-top: -5em;
	color:#fff;
	text-align: center;
	font-size: 2em;
	font-family: arial;
}

.tfooter {

	color:#fff;
	text-align: center;
	font-size: .9em;
}

.kitoko{

	font-size: 2em;
	color:#fff;
	font-family: arial;
	text-align: center;
	margin-bottom: .6em;
	margin-top: -5em;
}

/* ############  /footer ######### */

